<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FANTASTIC</title>
    <link rel="stylesheet" th:href="@{css/styles.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800" rel="stylesheet">
</head>
<body>
<header>
    <h1>Welcome to FANTASTIC CMS</h1>
</header>
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
<section class="latest_news">
    <h2>Latest News</h2>
    <ul>
        <li th:each="news : ${newsList}">
            <p th:text="${news.title}"></p>
            <p th:text="${news.content}"></p>
        </li>
    </ul>
</section>
<section class="categories">
    <h2>Categories</h2>
    <ul>
        <li th:each="category : ${categoryList}" th:text="${category.name}"></li>
    </ul>
</section>
<section class="users">
    <h2>Users</h2>
    <ul>
        <li th:each="user : ${userList}" th:text="${user.username}"></li>
    </ul>
</section>
<footer>
    <p>&copy; 2024 FANTASTIC CMS. All rights reserved.</p>
</footer>
</body>
</html>
